.bg-grid-secondary{
  background-color: $background-secondary;
}

.bg-grid-default{
  background-color: $background-default;
}

.mb-28px{
  margin-bottom: 28px !important;
}

.pd-2rem{
  padding-right: 2rem !important;
}

.grid-block{
  height: 575px;
  width: 475px;
}

.grid-space{
  height: 250px;
  width: 475px;
}
.grid-space-middle{
  height: 125px;
  width: 475px;
}

.grid-header-primary{
  background-color: $background-primary !important;

  .gradient{
    display: none !important;
  }
}

.grid-header-primary:after{
  border-color: $background-primary transparent transparent transparent !important;
}

.grid-header{
  background-color: $background-secondary;
  height: 60px;
  width: 475px;
  position: relative;
  left: 0;

  .gradient{
    background-image: url("/img/grid/gradient.png");
    height: 60px;
    width: 240px;
  }
}

.grid-header:after {
  content: '';
  /* display: block; */
  position: absolute;
  /* top: 10px; */
  /* left: 100%; */
  left: 10%;
  bottom: -26px;
  width: 0;
  height: 0;
  border-color: $background-secondary transparent transparent transparent;
  border-style: solid;
  border-width: 13px;
  right: 0;
}

//cards
.card-primary{
  height: 244px;
  width: 475px;
  position: relative;
  left: 0;

}