.mia-header{
  background-image: url("https://static.wixstatic.com/media/b2c0a7_f3ac39ecaa9c494fbbfb447fddc3b5a9.jpg/v1/fill/w_1920,h_542,al_c,q_85,usm_0.66_1.00_0.01/b2c0a7_f3ac39ecaa9c494fbbfb447fddc3b5a9.webp");
}

.social-icons-container{
  position: fixed;
  right: 0;
  top: 25%;
  border-radius: 10px;
  .social-icons{
    border: 0px solid rgba(50, 50, 50, 1);
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90px;
    /* align-items: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    i{
      color: black;
      font-size: 1.5rem;
    }
  }
}